.headerClass{
    background-color: white;
    text-align:center;
}
    .headerClass img {
        height: 50%;
        width: 70%;
        box-sizing: content-box;
        background-color: white;
    }
    .headerClass h2{
        color: black;
        justify-content:start;
    }