
/* 
body {
  margin: 0;
  font-family: sans-serif;
  color: var(--dark-text);
  line-height: 1.6;
} */

#about{
display: flex;
background-color:white;
margin-left: 10%;
margin-right: 10%;


}
img{
  max-width: 92%;
  display: block;
  margin-left: 12%;
  margin-top: 15%;
  border-radius: 2px;
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.6);

}
 
#h1{
  font-size: 38px;
  text-align: center;
}
 p{

  font-size: 1rem;
  width: 700px;
}
#left{
margin-top: 1%;

}
